<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 -->
<script>
 var username = [[${user.username}]];
 var age = [[${user.age}]];
 //자바스크립트 내추럴 템플릿
 var username2 = /*[[${user.username}]]*/ "test username";
 //객체
 var user = [[${user}]];


</script>
<!-- 자바스크립트 인라인 사용 후 -->
<!-- 타임리프에서는 그냥 무조건 자바스크립트 인라인을 쓴다고 생각하자 -->
<script th:inline="javascript">
 var username = [[${user.username}]];
 var age = [[${user.age}]];
 //자바스크립트 내추럴 템플릿
 var username2 = /*[[${user.username}]]*/ "test username";
 //객체
 var user = [[${user}]];


</script>

<!-- 자바스크립트에서 each를 써야 하는 경우가 종종 있는데 이런 특별한 문법을 제공한다 -->
<script th:inline="javascript">

  [# th:each="user, stat : ${users}"]
  var user[[${stat.count}]] = [[${user}]]
  [/]

</script>

</body>
</html>