<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <textarea id="input" cols="30" rows="10"></textarea>
    <textarea id="output" cols="30" rows="10"></textarea>
    <input type='button' id="btn" value="button">

    <select name="algorithm" id="algorithm">
        <option value="algorithm1">algorithm1</option>
        <option value="algorithm2">algorithm2</option>
        <option value="algorithm3">algorithm3</option>
    </select>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

    let output = document.getElementById('output')
    var btn = document.getElementById('btn');

    btn.addEventListener('click', function(event){
        let input = document.getElementById('input').value;
        let algorithm = document.getElementById('algorithm').value;
        alert("input: " + algorithm)
        $.ajax({
            type: 'POST',
            url: 'change',
            data : {
                id: input
            },
            dataType: 'text',
            success: function(response, type){
                output.innerText = response;
            },
            error: function(error){
                alert("실패");
            }
        })
    });

    
</script>
</html>